{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#0E3D14;
	color: #FFF;

    {% if featured_image.make_image_background %}
        background-image: url("{{ featured_image.image.url }}");
        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;
        background-position-y: -150px;
        {% if featured_image.text_css_color %}
            color: {{ featured_image.text_css_color }}
        {% endif %}
    {% endif %}
}
{% endblock %}
</style>


     
{% block jumbotron %}
    {% if featured_image %}
        <div class="jumbotron">
             <div class="container">
                <div class="row">
                    <div class='col-sm-11{% if featured_image.text_right %} pull-right {% endif %}'>
                        <h1>{{ featured_image.product.title }}</h1>
                        <p>{{ featured_image.product.description }}</p>
                        <p>
                        </p>
                        <a class="btn btn-lg btn-primary" href="{{ featured_image.product.get_absolute_url }}" role="button">More Detail &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



<!--product list-->
{% block content %}
    <h3>Recommended Products</h3>
    <div class="row">
        {% include "products/products.html" with object_list=products %}
    </div>

    <h3>Featured Products</h3>
    <div class="row">
        {% include "products/products.html" with object_list=products2 col_four="true"%}
    </div>

{% endblock %}