{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% if not user_can_continue %}
        {% if not user_auth %}
        <div class="col-sm-6">
            <p class="lead">Continue as Guest</p>
            <form method="POST" action="">
            {% csrf_token %}

                {{  form | crispy }}
                <input type="submit" class="btn btn-success" value="Continue as Guest">
            </form>
        </div>

        <div class="col-sm-6">
            <p class="lead">Login to Continue</p>
             <form method="POST" action="{% url 'auth_login' %}">
            {% csrf_token %}
            {{ login_form | crispy}}

                 <!--next url-->
                 <input type="hidden" name="next" value="{{ next_url }}">

            <input type="submit" class="btn btn-success" value="login">
            </form>
            <div class='col-sm-6 col-sm-offset-3 text-align-center'>
                <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
            </div>
        </div>
        {% else %}



        {% endif %}
    {% else %}
<div class="row text-center">
{% include "orders/order_summary_short.html" with order=order%}

        <div class="col-sm-4 col-sm-offset-4 text-center">
            <p><b>Shipping to</b></p>
            <p>{{ order.shipping_address.get_address }}</p>
            <p><b>Billing from</b></p>
            <p>{{ order.billing_address.get_address }}</p>
            <br>
            <a href="{% url "order_address" %}">Change Address</a>
            <form method="POST" action="{% url 'checkout_final' %}">
                {% csrf_token %}
                <input type="hidden" name="payment_token" value="ABC">
                <p><b><button type="submit">Complete Order</button></b></p>
            </form>

        </div>



        </div>


    {% endif %}

{% endblock %}