

{% extends "base.html" %}
{% block style %}
.alert-position {
    display:none;
    }

{% endblock %}
<script>

        {% block jquery %}
            function setPrice(){
                var price = $(".variation_select option:selected").attr("data-price");
                var sale_price = $(".variation_select option:selected").attr("data-sale-price");
                if (sale_price != "None") {
                    $("#o_price").html("<span class='sale_price'>"+sale_price+"</span>"+" <small class='og-price'>"+price+"</small>");
                } else {
                    $("#o_price").html(price);
                }
            }
            setPrice();

            /*Change if any change happened*/
            $(".variation_select").change(function(){
                setPrice();
            })


            function showFlashMessage(message_str){
                var template = "{% include 'alert.html' with message_str='"+ message_str +"'%}";
                $("body").append(template);
                $('.alert-position').fadeIn();
                setTimeout(function(){
                    $('.alert-position').fadeOut();
                }, 1800);
            }

            $("#submit-btn").click(function() {
                event.preventDefault();
                var formData = $("#add-form").serialize();
                console.log(formData)
                $.ajax({
                    type: "GET",
                    url: "{% url 'carts' %}",
                    data: formData,
                    success: function(data) {
                        updateCartItemCount();
                        showFlashMessage(data.flash_message);
                    },
                    error: function(response, error){
                        console.log(response);
                    }
                })
            })


        {% endblock %}

</script>



{% block content %}


    <div class="row">
        <div class="col-sm-8">
            <h2> <a href="{%  url "category_detail" object.get_category.id %}">{{  object.get_category}}</a> &#62; {{ object.title }}</h2>

            <!--Image-->
            {%if object.get_image_url %}

                <img class="img-responsive" src="{{ object.get_image_url}}">
            {% endif %}
            <p class="lead">{{ object.description }}</p>
        </div>


        <!--Product Sidebar-->
        <div class="col-sm-4">

            <!--price-->
        <form id="add-form" method="GET" action="{% url 'carts' %}">
            {% if object.variation_set.count > 0 %}

                <h3 id="o_price">{{ object.price }}</h3>
                <select name="item" class="variation_select form-control">
                {% for var_obj in object.variation_set.all %}
                        <option data-sale-price="{{ var_obj.sale_price }}" data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">
                        {{ var_obj.title }}
                        </option>
                {% endfor %}
                </select>


            {% else %}
                <input type="hidden" name="item" value="{{ object.variation_set.first.id }}">

            {% endif %}
                <input class="form-control" type="number" name="qty" value="1">
                <input id="submit-btn" type="submit" class="btn btn-default">
         </form>


            <!--Share Boxes-->
            <span><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}">
                <i class="fa fa-facebook-square fa-3x"></i>
                </a></span>
                        <span><a href="https://twitter.com/home?status=">
                <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a></span>
            <hr>
            <h4>Related Products</h4>

            <div class="row">
                {% for product in related %}
                    <!--image url-->
                <div class="col-xs-6">

                        {% include "products/product_thumbnail.html" with price="True"%}
                </div>
                    {% cycle '' '</div><div class="row">' %}
                {% endfor %}

            </div>
        </div><!--End Product Sidebar-->

    </div>
{% endblock %}