
            <div class="col-sm-4 col-sm-offset-4">
                <p class="lead">You Order</p>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                {{ order.cart.items.count }} item(s) :<br>
                {% for item in order.cart.cartitem_set.all %}
                    <strong>
                        {{ item.item.get_title }}
                    </strong><br>
                {% endfor %}


            <hr></div>
            <div class="col-sm-4 col-sm-offset-4">Cart Subtotal : {{ order.cart.sub_total }}
            <hr></div>

            <div class="col-sm-4 col-sm-offset-4">Tax : {{ order.cart.tax_total }}<hr></div>

            <div class="col-sm-4 col-sm-offset-4">Cart Total: {{ order.cart.total }}<hr></div>

            <div class="col-sm-4 col-sm-offset-4">Shipping : {{ order.shipping_total_price }} <hr></div>

            <div class="col-sm-4 col-sm-offset-4">Total : {{ order.order_total }}</div>

        <div class="col-sm-4 col-sm-offset-4 text-center">
            <p><b>Shipping to</b></p>
            <p>{{ order.shipping_address.get_address }}</p>
            <p><b>Billing from</b></p>
            <p>{{ order.billing_address.get_address }}</p>
            <br>
            <a href="{% url "order_address" %}">Change Address</a>
        </div>
